BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
MaxEmptyLinesToKeep: 1
AlwaysBreakAfterDefinitionReturnType: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 140
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
PPIndentWidth: 1
